body {
  font-family: "Mochiy Pop One", sans-serif;
  font-family: "Montagu Slab", serif;
  background-image: url("sakura.gif");
  background-size: 100%;
  background-repeat: repeat-y;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  color: #d5b9e7;
}
h1 {
  color: #d5b9e7;
  text-align: center;
  padding: 20px;
}
li {
  font-size: 30px;
}
h2 {
  text-align: center;
  font-size: 30px;
  padding: 10px;
  color: #d5b9e7;
}

.location {
  text-align: center;
  margin-top: 20px;
}

.container {
  text-align: center;
  color: #d5b9e7;
  border: solid thin white;
  border-radius: 2px;
  padding: 20px;
  max-width: 50em;
  margin: 0 auto;
}
.card-title {
  font-size: 30px;
}
.col {
  font-size: 25px;
}
.light {
  color: #f5f563;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
